@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap');

:root {
  --container-color: hsla(0, 0%, 96%, 1);
  --black-color: hsla(0, 0%, 8%, 1);

  --gradient: linear-gradient(#29f8ee, #0a3bdd);

  --body-font: 'Fira Sans', 'Poppins', sans-serif;

  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;

  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  margin: 0;
  transition: .4s;
  color: var(--black-color)
}

h1,
h2,
h3,
p {
  margin: 0
}

ul {
  margin: 0;
  padding: 0;
  list-style: none
}

img {
  max-width: 100%;
  height: auto;
  display: block
}

.subtitle {
  font-size: 8rem;
  line-height: 1;
  text-transform: uppercase;
  word-break: break-all;
  max-width: 4ch
}

@media (max-width:800px) {
  .subtitle {
    font-size: 3rem;
    text-transform: capitalize;
    max-width: initial !important
  }
}

.header {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center
}

.header-menu a {
  font-size: 1.125rem;
  line-height: 1.3;
  padding: 10px 20px;
  text-decoration: none;
  color: var(--white-color);
  display: block
}

@media (max-width:800px) {
  .header {
    flex-direction: column;
    gap: 40px;
    padding: 20px
  }

  .header a {
    border-radius: 4px
  }
}

.introduction {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  align-items: center
}

.introduction h1 {
  font-size: 4.5rem;
  line-height: 1.125;
  margin-bottom: 30px;
  position: relative
}

.introduction h1::before {
  content: "";
  display: block;
  width: 130px;
  height: 100px;
  background: url("../img/detalhe.svg") no-repeat center;
  position: absolute;
  top: -15px;
  left: -40px;
  z-index: -1
}

.introduction p {
  font-size: 1.5rem;
  color: #525252
}

@media (max-width:1000px) {
  .introduction h1 {
    font-size: 3rem
  }
}

@media (max-width:800px) {
  .introduction {
    grid-template-columns: 1fr 1fr;
    gap: 40px
  }

  .introduction h1 {
    font-size: 2rem
  }

  .introduction h1::before {
    width: 30px;
    height: 10px;
    left: 0
  }
}

@media (max-width:400px) {
  .introduction {
    grid-template-columns: 1fr
  }

  .introduction img {
    display: none
  }

}

.experience {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px
}

.experience .subtitle {
  color: #e0e0e0
}

.experience-text {
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 40ch;
  margin-bottom: 60px;
  color: #525252
}

.experience-text strong {
  color: var(--black-color)
}

.company {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 20px;
  padding: 20px;
  background: var(--container-color);
  margin-bottom: 20px;
  border-radius: 4px;
  position: relative
}

.company::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background: var(--gradient);
  position: absolute;
  top: 20px;
  left: -4px
}

.company-year {
  position: absolute;
  top: 22px;
  left: -100px;
  text-align: right;
  width: 80px;
  color: #525252;
  font-size: .875rem
}

.company-title {
  font-size: 1.125rem;
  line-height: 1.1;
  font-weight: var(--font-bold)
}


.company-title a {
  text-decoration: none;
  color: var(--black-color)
}

.company-text {
  font-size: .875rem;
  line-height: 1.4;
  color: #525252
}

.company-skills {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: start
}

.company-skills li {
  font-size: .875rem;
  line-height: 1.4;
  border-radius: 4px;
  background: #fff;
  padding: 5px 10px
}

.company-skills li a {
  text-decoration: none;
  color: var(--black-color)
}

@media (max-width:800px) {
  .experience {
    grid-template-columns: 1fr;
    gap: 40px
  }

  .experience .subtitle {
    color: var(--black-color)
  }

  .experience-text {
    font-size: 1.25rem
  }

  .company-year {
    position: initial;
    order: 1;
    width: initial;
    text-align: left
  }
}

@media (max-width:400px) {
  .company {
    grid-template-columns: 1fr
  }
}

.formation {
  background: var(--black-color);
  color: #fff
}

.formation-container {
  max-width: 1200px;
  padding: 120px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  position: relative
}

.formation .subtitle {
  color: white;
  max-width: 5ch
}

.formation-text {
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 40ch;
  margin-bottom: 60px;
  color: #a3a3a3
}

.formation-text strong {
  color: #fff
}

.college-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 60px
}

.college {
  flex: 1;
  background: #000;
  padding: 20px;
  border-radius: 4px;
  display: flex;
  flex-direction: column
}

.college-type {
  font-size: .875rem;
  text-transform: uppercase;
  color: #a3a3a3;
  margin-bottom: 10px
}

.college-course {
  flex: 1;
  font-size: 1.125rem;
  line-height: 1.4;
  margin-bottom: 40px;
  position: relative
}

.college-course::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background: var(--gradient);
  position: absolute;
  left: -24px
}

.college-instituicao {
  font-size: 1.125rem;
  color: #a3a3a3
}

.courses {
  margin-bottom: 60px
}

.formation-extra h3 {
  font-size: .875rem;
  line-height: 1.4;
  color: #8f8f8f;
  text-transform: uppercase;
  margin-bottom: 30px;
  position: relative
}

.formation-extra h3::before {
  display: block;
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  left: -36px;
  top: -4px
}

.courses h3::before {
  background: url("../img/courses.svg") no-repeat center center
}

.languages h3::before {
  background: url("../img/languages.svg") no-repeat center center
}

.formation-extra li {
  font-size: 1.125rem;
  line-height: 1.1;
  margin-bottom: 20px
}

.formation-extra span {
  color: #8f8f8f
}

.courses li {
  display: flex;
  justify-content: space-between
}

@media (max-width:800px) {
  .formation-container {
    grid-template-columns: 1fr;
    padding: 60px 20px;
    gap: 40px
  }

  .formation .subtitle {
    color: #fff
  }

  .formation-text {
    font-size: 1.25rem
  }

  .formation-extra h3::before {
    position: initial;
    margin-bottom: 10px
  }
}

.footer {
  background: #000
}

.footer-container {
  max-width: 1200px;
  padding: 120px 20px 60px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
}

.footer-text {
  font-size: 1.5rem;
  line-height: 1.33;
  color: #fff
}

.footer-contact li i {
  display: none;
}

.footer-contact li span {
  display: block;
}

.footer-contact li {
  font-weight: var(--font-bold);
  font-size: 1.5rem;
  line-height: 1.1;
  color: #fff;
  margin-bottom: 30px;
}

.footer-contact li a {
  text-decoration: none;
  color: #fff
}

.footer-copy {
  grid-column: 1/-1;
  text-align: center;
  font-size: 1.125rem;
  color: #fff
}

@media (max-width:800px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 40px
  }

  .footer-text {
    text-align: center;
  }

  .footer-contact {
    display: flex;
    justify-content: center;
  }

  .footer-contact li {
    display: inline-block;
    margin: 0 2rem;
  }

  .footer-contact li i {
    display: block;
    color: white;
    font-size: 2rem;
  }

  .footer-contact li span {
    display: none;
  }

  .footer-copy {
    font-size: 1rem
  }
}

.header-content {
  position: relative;
  text-align: center;
  background: linear-gradient(60deg, #543ab7 0%, #0064c1 100%);
  color: white;
}

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}

.parallax>use {
  animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax>use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax>use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax>use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
}